.container {
  background-image: url("../imgs/white-bcg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.navbar-fixed-top {
  height: $nav-height;
}

html {
  padding-top: $nav-height;
}