$font-family-base:  'Lato', Helvetica, Arial, sans-serif !default;
$font-family-titles: 'Shadows Into Light', cursive;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            30px !default; // ~36px
$font-size-h2:            floor(($font-size-base * 1.75)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.5)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$bcg-color: #FFF9D4;
$secondary-color: #FF008F;
$nav-height: 75px;