/* line 1, ../sass/_type.scss */
html {
  font-family: "Lato", Helvetica, Arial, sans-serif !important;
}

/* line 6, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Shadows Into Light", cursive;
  color: #ff008f;
}

/* line 1, ../sass/_colors.scss */
body {
  background-color: #fff9d4;
}

/* line 1, ../sass/_layout.scss */
.container {
  background-image: url("../imgs/white-bcg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 7, ../sass/_layout.scss */
.navbar-fixed-top {
  height: 75px;
}

/* line 11, ../sass/_layout.scss */
html {
  padding-top: 75px;
}
